<div class="feature__wrapper">

  
    <div class="feature__item">
      <div class="archive__item">
        
          <div class="archive__item-teaser">
            <img src="/assets/images/quantrend.jpg" alt="Quantrend Technology" />
            
          </div>
        

        <div class="archive__item-body">
          
            <h2 class="archive__item-title">Machine Learning Engineer Intern</h2>
          

          
            <div class="archive__item-excerpt">
              <p>Reinforcement Learning and Machine Learning based quantitative trading.</p>

            </div>
          

          
        </div>
      </div>
    </div>
  
    <div class="feature__item">
      <div class="archive__item">
        
          <div class="archive__item-teaser">
            <img src="/assets/images/quantrend.jpg" alt="Quantrend Technology" />
            
          </div>
        

        <div class="archive__item-body">
          
            <h2 class="archive__item-title">Machine Learning Engineer Intern 2222</h2>
          

          
            <div class="archive__item-excerpt">
              <p>Reinforcement Learning and Machine Learning based quantitative trading.</p>

            </div>
          

          
        </div>
      </div>
    </div>
  

</div>