<head><link rel="stylesheet" href="/assets/css/linkedin.css"></head>

<ul class="section-info">
    <li id="ember2708" class="pv-recommendation-entity ember-view">
<div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/brohrer/" id="ember2709" class="pv-recommendation-entity__member ember-view">    
    <img class="lazy-image center EntityPhoto-circle-4 fl loaded" alt="Brandon Rohrer" height="50%" width="50%" src="/assets/images/brandon_bio_photo.jpg">


    <div class="pv-recommendation-entity__detail">
      <h4 style="font-size:1rem" class="t-black t-bold">Brandon Rohrer</h4>
      <p style="font-size:0.75rem" class="pv-recommendation-entity__headline t-black t-normal">Machine learning. Data Science. Teaching. Robotics.</p>
        <p style="font-size:0.75rem" class="t-black--light t-normal">
          August 24, 2020, Min-Hsiu worked with Brandon in the same group
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text">
    <div id="ember2711" class="ember-view">  <span class="lt-line-clamp__raw-line">We were lucky to have Min as a member of our Data Science Team. He investigated the causal relationship between an outcome of interest and several potential triggers. He embraced the open-ended problem demonstrating exceptional initiative. Min identified gaps in the problem definition and tracked down the resources he needed to fill them. He tackled unfamiliar concepts without hesitation, quickly learning what he needed to accomplish his task. The insights Min shared from his analysis are being used to inform other analysis and strategy decisions across the organization. Min exceeded the expectations for his role. I hope you are fortunate enough to work with him at some point.</span>
    </div>
  </blockquote>
</div>
</li>
</ul>